body {
    background-image: url("background2.jpg");
    background-size: cover;

}

#container {
    color: white;
    text-align: center;
    margin-top: 350px;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    text-align: right;
    margin-top: 250px;
}