/*Background*/
body {
    margin: 0;
    background-color: black;
    color: white;
}

/*Navigation Menu - Make his name the home menu*/

.nav-menu {
    text-align: center;
}

nav li {
    padding: 40px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    list-style-type: none;
}

/*Nav links*/
ul li a {
    text-decoration: none;
    color: whitesmoke;
}

ul li a:visited {
    color: gray;
}

ul li a:hover {
    color: rgb(224, 33, 33);
}



/*------Home Page------*/

/*Main Image -- make cover page, put text over*/
#bobby-slavov {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    opacity: 0.8;

}

/*Artist Information - fix alignment, get more info*/
.information {
    text-align: justify;
}

/*------Music Page------*/







/*------News Page------*/